<% @posts.reverse.each do |post| %>
<div>
	<div class="row">
		<a href="/uploads/show/<%= post.id %>">
			<img class="thumb" src="<%= post.image_url(:thumb) %>">
			<div>
				<h4 class="title"><%= post.title %><h4></a>
				<h4><%= post.dimension %> <%= post.category %> | <%= post.project %></h4>
			</div>
		</div>
	</div>
</div>
<% end %>


