<div class="row">
	<% @posts.reverse.each do |post| %>
		<div class="block">
			<a href="/uploads/show/<%= post.id %>">
				<img class="thumb" src="<%= post.image_url(:thumb) %>">
				<h4><%= post.title %><h4></a>
				<h4><%= post.dimension %> <%= post.category %> | <%= post.project %></h4>	
		</div>
	<% end %>
</div>


