<% @posts.reverse.each do |post| %>
<div>
	<h4><%= post.title %> | <%= post.year %></h4>
	<h4><%= post.dimension %> <%= post.category %></h4>
	<h4><%= post.type %>
	<p><%= post.content %>
</div>
<% end %>


